

@media only screen and (max-width: 992px) {
  .img-story {
    width: 85px;
    height: auto;
    margin-left: -15px;
  }

  .lora-heading {
    font-family: Lora, serif;
    font-size: 14px;
    line-height: 22px;
    color: #272727;
    font-weight: 400;
    padding: 10px;
  }

  .lora-paragraph {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.5);
    padding: 0 10px;
  }

  .opinion-articles li .col-md-9 {
    margin-left: -80px;
  }

  .latest-news {
    margin-left: -80px;
  }

  .opinion-section-top {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .img-cover-ad {
    width: 100%;
    height: auto;
  }

  .img-cover {
    width: 100%;
    height: auto;
  }

  #sept-issue {
    position: relative;
    top: 65px;
  }

  .issue {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 33px;
    color: #f72210;
    font-weight: 700;
    background: #e6e6e6;
    padding: 5px 15px;
    width: 90%;
    position: relative;
    top: -43px;
  }

  .see-features {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    position: relative;
    top: -59px;
    background: #f4f5f6;
    padding: 10px 15px;
    text-align: center;
    width: 99.5%;
  }

  .para-cover {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    background: #f72210;
    padding: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    width: 78px;
  }

  .cat-cover {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #f72210;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 15px;
    left: 12px;
  }

  .equal-height {
    height: auto;
  }

  .editor-img {
    width: 100%;
    height: auto;
  }

  .slideshow-img {
    width: 100%;
    height: auto;
  }

  .us-img {
    width: 100%;
    height: auto;
  }

  .side-img {
    width: 84px;
    height: auto;
    margin-right: -20px;
    margin-bottom: 10px;
  }

  .latest-img {
    width: 200px;
    height: auto;
    margin-left: -15px;
  }

  .opinion-articles li img {
    margin-left: -15px;
    width: 85px;
  }
}

@media only screen and (max-width: 767px) {
  .main-section {
    background: #fff;
    width: 100%;
    height: auto;
    margin: 2px auto;
    padding: 0;
  }

  .center-feature {
    padding: 15px;
  }

  .featured-section {
    display: none;
  }

  .main-featured-article {
    margin-left: -40px;
  }

  .featured:nth-child(1) {
    margin-bottom: 25px;
  }

  .all-stories {
    margin-left: -40px;
  }

  .opinion-articles li {
    margin-bottom: 15px;
  }

  .opinion-section-middle {
    margin-top: 30px !important;
  }

  .opinion-section-top {
    display: none;
  }

  .issue {
    width: 200px;
  }

  .img-cover-ad {
    width: 100%;
    height: auto;
  }

  .push-up {
    position: relative;
    top: 0;
  }

  .para-cover {
    width: 100px;
  }

  .equal-height {
    height: auto;
    margin-bottom: 25px;
  }

  .img-cover {
    width: 100%;
    height: auto;
  }

  #sept-issue {
    margin-bottom: -60px;
    position: relative;
    top: 0;
  }

  .magazine,
  .editor,
  .slideshow,
  .us-category,
  .world-category,
  .busines-category,
  .tech-category,
  .cullture-category,
  .sports-category {
    padding-left: 0;
    padding-right: 0;
  }

  .editor-img,
  .slideshow-img,
  .us-img {
    width: 100%;
    height: auto;
  }

  .us-article {
    margin-bottom: 30px;
  }

  .side-img {
    width: 200px;
    height: auto;
    margin-right: -10px;
    margin-bottom: 10px;
  }

  .latest-img {
    width: 150px;
    height: auto;
    margin-left: -15px;
  }

  .img-story {
    width: 100%;
    height: auto;
    margin-left: -15px;
  }

  .opinion-articles li img {
    margin-left: -15px;
    width: 80px;
    height: auto;
  }

  .sidebar-list {
    margin-top: 20px;
  }

  .img-two {
    position: relative;
    top: 0;
    left: 55px;
  }

  .opinion-articles li .col-md-9 {
    margin-left: -60px;
  }

  .latest-news {
    margin-left: -80px !important;
    margin-top: 20px;
  }

  .article-story .col-xl-7 {
    margin-left: -150px;
  }

}

@media only screen and (max-width: 576px) {
  .img-story {
    width: 150px;
    height: auto;
  }

  .more-article {
    margin-left: 0;
    position: relative;
    top: -100px;
    left: 150px;
    width: 70%;
  }

  .opinion-articles li img {
    margin-left: -15px;
    width: 63px;
    height: auto;
  }

  .cat-cover {
    position: relative;
    top: -45px;
    left: 280px;
  }

  .all-stories li {
    margin-bottom: -100px;
  }

  .opinion-articles li .col-md-9 {
    position: relative;
    width: 85%;
    top: -55px;
    left: 125px;
  }

  .opinion-articles li {
    margin-bottom: -60px;
  }

  .latest-img {
    width: 150px;
    height: auto;
    margin-left: -15px;
  }

  .latest-news {
    width: 65%;
    position: relative;
    top: -90px;
    left: 230px;
  }

  .opinion-middle-articles .sided {
    margin-bottom: -25px;
  }

  .side-img {
    width: 150px;
    height: auto;
    margin-right: -10px;
    margin-bottom: 10px;
  }

  .col-xl-7 .sidebar-item-link {
    position: relative;
    top: -100px;
    left: 165px;
  }

  .row.sidebar-list li {
    margin-bottom: -40px;
  }

  .equinox {
    width: 67%;
  }
}
