@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {
  .main-section {
    background: #fff;
    width: 100%;
    height: auto;
    margin: 2px auto;
    padding: 0;
  }

  .center-feature {
    padding: 15px;
  }

  .featured-section {
    display: none;
  }

  .main-featured-article {
    margin-left: -40px;
  }

  .featured:nth-child(1) {
    margin-bottom: 25px;
  }

  .all-stories {
    margin-left: -40px;
  }

  .opinion-articles li {
    margin-bottom: 15px;
  }

  .opinion-section-middle {
    margin-top: 30px !important;
  }

  .opinion-section-top {
    display: none;
  }

  .issue {
    width: 200px;
  }

  .img-cover-ad {
    width: 100%;
    height: auto;
  }

  .push-up {
    position: relative;
    top: 0;
  }

  .para-cover {
    width: 100px;
  }

  .equal-height {
    height: auto;
    margin-bottom: 25px;
  }

  .img-cover {
    width: 100%;
    height: auto;
  }

  #sept-issue {
    margin-bottom: -60px;
  }

  .magazine,
  .editor,
  .slideshow,
  .us-category,
  .world-category,
  .busines-category,
  .tech-category,
  .cullture-category,
  .sports-category {
    padding-left: 0;
    padding-right: 0;
  }

  .editor-img,
  .slideshow-img,
  .us-img {
    width: 100%;
    height: auto;
  }

  .us-article {
    margin-bottom: 30px;
  }

  .side-img {
    width: 200px;
    height: auto;
    margin-right: -10px;
    margin-bottom: 10px;
  }

  .latest-img {
    width: 200px;
    height: auto;
    margin-left: -15px;
  }

  .img-story {
    width: 100%;
    height: auto;
    margin-left: -15px;
  }

  .opinion-articles li img {
    margin-left: -15px;
    width: 100px;
    height: auto;
  }

  .sidebar-list {
    margin-top: 20px;
  }

  .img-two {
    position: relative;
    top: 0;
    left: 55px;
  }

  .opinion-articles li .col-md-9 {
    margin-left: -60px;
  }

  .latest-news {
    margin-left: -75px !important;
    margin-top: 20px;
  }

  .article-story .col-xl-7 {
    margin-left: -150px;
  }

}

@media only screen and (max-width: 576px) {
  .img-story {
    width: 150px;
    height: auto;
  }

  .more-article {
    margin-left: 0;
    position: relative;
    top: -100px;
    left: 150px;
    width: 70%;
  }

  .opinion-articles li img {
    margin-left: -15px;
    width: 63px;
    height: auto;
  }

  .cat-cover {
    position: relative;
    top: -45px;
    left: 140px;
  }

  .all-stories li {
    margin-bottom: -100px;
  }

  .opinion-articles li .col-md-9 {
    position: relative;
    width: 85%;
    top: -55px;
    left: 70px;
  }

  .opinion-articles li {
    margin-bottom: -60px;
  }

  .latest-img {
    width: 150px;
    height: auto;
    margin-left: -15px;
  }

  .latest-news {
    width: 68%;
    position: relative;
    top: -90px;
    left: 160px;
  }

  .opinion-middle-articles .sided {
    margin-bottom: -25px;
  }

  .side-img {
    width: 150px;
    height: auto;
    margin-right: -10px;
    margin-bottom: 10px;
  }

  .col-xl-7 .sidebar-item-link {
    position: relative;
    top: -100px;
    left: 165px;
  }

  .row.sidebar-list li {
    margin-bottom: -40px;
  }

  .equinox {
    width: 67%;
  }
}
